<%= form_for(@escalation_level) do |f| %>
  <% if @escalation_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@escalation_level.errors.count, "error") %> prohibited this escalation_level from being saved:</h2>

      <ul>
      <% @escalation_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: inline; float: left; width: 80%;">
    <fieldset><legend>Escalation level details</legend>

      <div> <!-- wrapper around account details and help divs -->
  <div class="field" style="float: left;">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "serverlist" %>
  </div>
    </fieldset>
    </div>
  <div style="clear: both;"></div>

  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
