<p>
  <strong>Name:</strong>
  <%= @server_app.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @server_app.description %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= Vendor.find(@server_app.vendor_id).name %>
</p>

<p>
  <strong>Warranty contract:</strong>
  <%= WarrantyContract.find(@server_app.warranty_contract_id).name %>
</p>

<div class="serverlist">
<%= link_to 'Edit', edit_server_app_path(@server_app) %> |
<%= link_to 'Back', server_apps_path %>
</div>
