<%= form_for(@support_contact) do |f| %>
  <% if @support_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support_contact.errors.count, "error") %> prohibited this support_contact from being saved:</h2>

      <ul>
      <% @support_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: inline; float: left; width: 80%;">
    <fieldset><legend>Support contact details</legend>

      <div> <!-- wrapper around account details and help divs -->
  <div class="field" style="float: left;">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "serverlist" %>
  </div>
  <div class="field" style="float: left;">
    <%= f.label :email_addr %><br />
    <%= f.text_field :email_addr, :class => "serverlist" %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone, :class => "serverlist" %>
  </div>
    </fieldset>
    </div>
  <div style="clear: both;"></div>

  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
