<h2>Listing Database job frequencies</h2>
<p>
<div class="digg_pagination">  
<%= will_paginate @db_job_freqs %>  <!-- app_user -->
<% if can? :create, DbJobFreq %>
<%= link_to 'New Database job frequency', new_db_job_freq_path %>
<% end %>
</div>
</p>
<br />
<p style="clear: both">
<table class="serverlist" cellspacing="0">
  <thead>
    <tr class="serverlist">
      <th>Name</th>
      <th></th>
    <th></th>
    </tr>
  </thead>

  <tbody>
    <% @db_job_freqs.each do |db_job_freq| %>
    <tr class="<%= cycle('ma_row_light', 'ma_row_dark') %>">
    <%= render :partial => "shared/edit_link", :object => db_job_freq, :locals => {:display => db_job_freq.name, :edit_path => edit_db_job_freq_path(db_job_freq)} %>
        <%= render :partial => "shared/delete_link", :object => db_job_freq, :locals => {:display => "Delete #{db_job_freq.name}" } %>
        </tr>
    <% end %>
  </tbody>
</table>

<p>
<div class="digg_pagination">  
<%= will_paginate @db_job_freqs %>
<% if can? :create, DbJobFreq %>
<%= link_to 'New Database job frequency', new_db_job_freq_path %>
<% end %>
</div>
</p>
