<%= form_for(@operation_level) do |f| %>
  <% if @operation_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation_level.errors.count, "error") %> prohibited this operation_level from being saved:</h2>

      <ul>
      <% @operation_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: inline; float: left; width: 80%;">
    <fieldset><legend>Operation level details</legend>

      <div> <!-- wrapper around account details and help divs -->
  <div class="field" style="float: left;">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "serverlist" %>
  </div>
  <div style="clear: both;"></div>
  <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :rows => 6, :cols => 40, :class => "mceEditor" %>
    </div>
    </fieldset>
    </div>
  <div style="clear: both;"></div>

  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
