<li><%= link_to "Releases", "/releases" %></li><li><%= link_to "Applications", "/applications" %></li><li><%= link_to "Datacentres", "/locations" %></li><li><%= link_to "Databases", "/db_names" %></li><li><%= link_to "Operations", "/impact_levels" %></li><li><%= link_to "Support", "/warranty_contracts" %></li><li><%= link_to "Roles", "/roles" %></li>
