<%%= form_for(@<%= singular_table_name %>) do |f| %>
  <%% if @<%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>
  <div style="display: inline; float: left; width: 80%;">
   <fieldset><legend><%= class_name %> details</legend>
    <% attributes.each do |attribute| -%>
    <div> <!-- wrapper around account details and help divs -->
     <div class="field" style="float: left;">
      <% if attribute.password_digest? -%>
      <%%= f.label :password %><br />
      <%%= f.password_field :password, :class => "serverlist" %>
     </div>
     <div>
      <%%= f.label :password_confirmation %><br />
      <%%= f.password_field :password_confirmation, :class => "serverlist" %>
      <% else -%>
      <%- if attribute.reference? -%>
      <%%= f.label :<%= attribute.column_name %> %><br />
      <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, :class => "serverlist" %>
      <%- else -%>
      <%%= f.label :<%= attribute.name %> %><br />
      <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :class => "serverlist" %>
      <%- end -%>
      <% end -%>
     </div>
     <% end -%>
    </div>
   </fieldset>
  </div>
 <div style="clear: both;"></div>
 <div class="actions">
    <%%= f.submit :class => "button" %>
 </div>
<%% end %>
