<h2>Listing <%= class_name.humanize %></h2>
<p>
<div class="digg_pagination">  
<%%= will_paginate @<%= table_name %> %>
<%% if can? :create, <%= class_name %> %>
<%%= link_to 'New <%= class_name %>', new_<%= singular_table_name %>_path %>
<%% end %>
</div>
</p>
<br />
<p style="clear: both">
<table class="serverlist" cellspacing="0">
  <thead>
   <tr class="serverlist">
    <th>Name</th>
    <th></th>
     <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <th><%= attribute.human_name %></th>
    <% end -%>
    <th></th>
    <%% if can? :destroy, <%= class_name %> %>
    <th></th>
    <%% end %>
   </tr>
  </thead>

  <tbody>
    <%% @<%= table_name %>.each do |<%= singular_table_name %>| %>
    <tr class="<%%= cycle('ma_row_light', 'ma_row_dark') %>">
     <%%= render :partial => "shared/edit_link", :object => <%= singular_table_name %>, :locals => {:display => <%= singular_table_name %>.name, :edit_path => edit_<%= singular_table_name %>_path(<%= singular_table_name %>)} %>
     <% attributes.reject(&:password_digest?).each do |attribute| -%>
     <td><%%= <%= singular_table_name %>.<%= attribute.name %> -%></td>
     <% end -%>
     <%%= render :partial => "shared/delete_link", :object => <%= singular_table_name %>, :locals => {:display => "Delete #{<%= singular_table_name %>.name}" } %>
    </tr>
    <%% end -%>
  </tbody>
</table>

<p>
<div class="digg_pagination">  
<%%= will_paginate @<%= table_name %> %>
<%% if can? :create, <%= class_name %> %>
<%%= link_to 'New <%= class_name %>', new_<%= singular_table_name %>_path %>
<%% end -%>
</div>
</p>
