<%= form_for(@ad_domain) do |f| %>
  <% if @ad_domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_domain.errors.count, "error") %> prohibited this ad_domain from being saved:</h2>

      <ul>
      <% @ad_domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: inline; float: left; width: 60%;">
    <fieldset><legend>MS Active Directory details</legend>

      <div> <!-- wrapper around account details and help divs -->
        <div class="field" style="float: left;">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "serverlist" %>
  </div>
  <div style="clear: both;"></div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 6, :cols => 80, :class => "mceEditor" %>
          </div>
      </div>
    </fieldset>
  </div>

  <div style="clear: both;"></div>

  <div class="actions">
    <%= f.submit :class => "button" %>
  </div>
<% end %>
