<h2>Listing Database package types</h2>
<p>
<div class="digg_pagination">  
<%= will_paginate @db_package_types %>
<% if can? :create, DbPackageType %>
<%= link_to 'New Database package types', new_db_package_type_path %>
<% end %>
</div>
</p>
<br />
<p style="clear: both">
<table class="serverlist" cellspacing="0">
  <thead>
    <tr class="serverlist">
      <th>Name</th>
	  <th></th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @db_package_types.each do |db_package_type| %>
    <tr class="<%= cycle('ma_row_light', 'ma_row_dark') %>">
    <%= render :partial => "shared/edit_link", :object => db_package_type, :locals => {:display => db_package_type.name, :edit_path => edit_db_package_type_path(db_package_type)} %>
        <td><%= db_package_type.description %></td>
        <%= render :partial => "shared/delete_link", :object => db_package_type, :locals => {:display => "Delete #{db_package_type.name}" } %>
        </tr>
    <% end %>
  </tbody>
</table>

<p>
<div class="digg_pagination">  
<%= will_paginate @db_package_types %>
<% if can? :create, DbPackageType %>
<%= link_to 'New Database package types', new_db_package_type_path %>
<% end %>
</div>
</p>
